body {
  background-color: #ddd;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

svg {
  max-height: 100%;
  width: auto;
}

.narrow {
  max-width: 830px;
  margin: 0 auto;
}

.lead-heading {
  font-size: 2.5rem;
  padding-bottom: 1.5rem;
}

/* Header */

#header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #ddd;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: 0 0 5px #bbb;
}

#logo {
  width: auto;
  font-size: 1.5rem;
  padding: 0.25rem 2rem;
  font-weight: 700;
}

#nav {
  display: flex;
  align-items: center;
}

.nav-link {
  padding: 0 calc(0.25rem + 2.5vw);
  text-decoration: none;
  color: #333;
}

.nav-link:hover {
  color: #111;
}

/* Hero */

#hero {
  margin-top: 4rem;
  height: 50vh;
  min-height: 20rem;
  background:
    linear-gradient(
    90deg,
    #1a3c1bc4,
    #1a3c1bc4
    ),
    black url(./images/marcel-heil-unsplash.jpg) center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

#title {
  font-size: 3rem;
  padding-bottom: 2rem;
  text-align: center;
}

#greeting {
  padding: 0 3rem;
  text-align: center;
}

/* Features */

#features {
  margin-top: 3rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 4fr;
  align-items: center;
}

.icon {
  height: 6rem;
  color: #d7483d;
  padding: 1rem;
}

/* Menu */

#menu {
  margin-top: 6rem;
  padding: 0 1rem;
}

.menu-item {
  display: flex;
  gap: 3rem;
  padding: 1rem;
  border-radius: .325rem;
  border: 1px hsl(6, 18%, 66%) solid;
  background-color: #dbdbdb;
  margin-bottom: 2rem;
}

.menu-item-image {
  height: 15rem;
  width: 15rem;
  border-radius: .25rem;
}

.menu-item-name {
  margin-bottom: 1rem;
  color: hsl(4, 66%, 34%);
}

.list {
  list-style: none;
}

#hamburger-img { background: url(./images/hamburger.jpg) center / cover; }
#mini-pizza-img { background: url(./images/mini-pizza.jpg) center / cover; }
#calzone-img { background: url(./images/calzone.jpg) center / cover; }
#toast-sandwich-img { background: url(./images/toast-sandwich.jpg) center / cover; }
#burrito-img { background: url(./images/burrito.jpg) center / cover; }

/* Contact */

#contact {
  margin-top: 6rem;
  padding: 0 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  margin-bottom: 1rem;
}

#email {
  margin-top: .5rem;
  width: 50%;
  min-width: 400px;
  padding: .5rem 1rem;
}

#textarea {
  margin-top: .5rem;
  margin-right: 2rem;
  min-width: 400px;
  padding: .5rem 1rem;
  resize: vertical;
}

#send-button {
  padding: .5rem 1.5rem;
  cursor: pointer;
}

/* Footer */

#footer {
  margin-top: 4rem;
  padding: 1rem;
  background: #d7483d;
  color: white;
}

#disclaimer {
  text-align: right;
  font-size: 14px;
  padding: 0.5rem 1rem;
}